li:nth-child(even)
{
    color: green;
}
li:nth-child(3)
{
    background-color: lightblue; 
 }
li:first-child
{
    border-top: 1px solid green;
}
li:last-child
{
    border-bottom: 5px dotted blue;
}
li:nth-child(3) a
{
color: red;
}
li:nth-child(5) a
{
color: red;
}
li:nth-child(5) a:hover
{
    color: grey;
}
li:nth-child(2)
{
    list-style: none;
}
li:nth-child(5)
{
    list-style: none;
}
input[type=text]:focus
{
    background-color: grey;
}
div:first-of-type input
{
    color: green;
}
div:nth-child(2) input
{
    color: blue;
}
input[type=password]
{
    color: transparent;
}
input[type=email]::selection 
{
        color: pink;
        background: yellow;
}
input[type=submit]:hover
{
  color: red;  
}